// UTILS
@import "./utils/variables";
@import "./utils/placeholders";
// BASE
@import "./base/common";
@import "./base/container";
@import "./base/reset";
// COMPONENTS
@import "./components/footer";
@import "./components/header";
// MAIN
@import "./components/main/clients";
@import "./components/main/hero";
@import "./components/main/information";
@import "./components/main/team";
@import "./components/main/works";
@import "./components/main/modal";
@import "./components/main/buttons";
@import "./components/main/projects";

@media screen and (max-width: 480px) {
    .hero{
      display: flex;
      font-weight: 400px;
      width: 100%;
      height: 400px;
      align-items: center;
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/Img.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      text-align: center;
    }

    .hero__title {
      color: #fff;
      text-align: center;
      font-size: 26px;
      font-style: normal;
      font-weight: 900;
      line-height: 161.538%;
      letter-spacing: 1.56px;
      text-transform: uppercase;
    }
  } 
  