:root {
  --link-color: #2196f3;
  --title-color: #000;
  --text-color: #757575;
}

body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style-type: none;
}

/* header */

.header {
}
.header__logo {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.header__logo--colored {
  color: var(--link-color);
}
.header__nav {
}
.header__nav__list {
}
.header__nav__item {
}
.header__nav__link {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.header__contact__list {
}

.header__contact__link {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

/* hero */

.hero {
  font-weight: 400;
  background: #2f303a;
}
.hero__title {
  color: #fff;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 136.364%;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
.hero__button {
  color: var(--title-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 187.5%;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* information */
.information {
}
.information__list {
}
.information__item {
}
.information__title {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.information__text {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 171.429%;
  letter-spacing: 0.42px;
}
.team {
}
.team__subtitle {
  color: var(--title-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
  background: #F5F4FA;
}

.team__item {
}
.team__name {
  color: var(--title-color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  text-align: center;
}
.team__text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
  margin-bottom: 202px;
  text-align: center;
}

.team__img {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 30px;
  width: 270px;
  height: 260px;
  flex-shrink: 0;
  margin-left: 30px;
}

.team__list {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.footer {
  font-weight: 600;
  background: #2f303a;
}
.footer__text--colored {
  color: var(--link-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.footer__adress {
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 171.429%;
  letter-spacing: 0.42px;
}
.footer__link {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.42px;
}

.footer__title {
  color: var(--title-color);
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1.08px;
}

.works {
}
.works__subtitle {
  color: var(--title-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}
.works__list {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.works__item {
}
.works__img {
  display: flex;
  justify-content: center;
  margin-right: 30px;
  margin-bottom: 280px;
}
/* portfolio */

.project-buttons {
}
.project-buttons__list {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.project-buttons__item {
}
.project-buttons__button {
  color: var(--title-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 162.5%;
  letter-spacing: 0.48px;
  display: flex;
  justify-content: center;
  margin-right: 20px;
}
.projects {
}
.projects-list {
}
.projects-item {
}
.projects-img {
}

.projects-title {
  color: var(--title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 1.08px;
}
.projects-text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 187.5%;
  letter-spacing: 0.48px;
}
