.header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    color: $linkColor;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;
  }

  &__logo--colored {
    color: #000000;
  }

  &__nav__list {
    display: none;
  }

  &__contact__list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile__menu {
    display: none;
  }

  .header {
    padding-top: 21px;
    padding-bottom: 21px;

    & .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__logo {
      margin-right: 88px;
    }

    &__nav {
      display: flex;
      color: $titleColor;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.28px;
      margin-right: 96px;
    }

    &__nav__list {
      display: flex;
      align-items: center;
      gap: 50px;
    }

    &__nav__link {
      transition: color $animation;
    }

    &__nav__link:hover,
    &__nav__link:focus {
      color: $linkColor;
    }

    .current {
      color: $linkColor;
      padding-bottom: 32px;
    }

    .current::after {
      content: "";
      display: block;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $linkColor;
    }

    &__contact__list {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &__contact__link {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #757575;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.24px;
      transition: color $animation;
    }

    &__contact__link:hover,
    &__contact__link:focus {
      color: $linkColor;
    }

    &__contact__icon {
      fill: #757575;
    }

    &__nav__link::after {
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      background-color: $linkColor;
      border-radius: 2px;
      margin-top: 20px;
      transform: scale(0);
      transform-origin: center right;
      transition: transform $animation, transform-origin $animation;
    }

    &__nav__link:hover::after {
      transform: scale(1);
      transform-origin: center right;
    }
  }

  // .hover::after {
  //   // content: "";
  //   display: block;
  //   height: 4px;
  //   width: 100%;
  //   border-radius: 2px;
  //   background: $linkColor;
  //   margin-top: 28px;
  // }

  // .mobile__menu {
  //   display: none;
  // }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;

    &__logo {
      margin-right: 93px;
    }

    &__nav {
      display: flex;
      color: $titleColor;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.28px;
      margin-right: 315px;
    }

    &__nav__list {
      display: flex;
      gap: 50px;
    }

    &__nav__link {
      position: relative;
      transition: color $animation;
    }

    &__nav__link:hover,
    &__nav__link:focus {
      color: $linkColor;
    }

    .header__contact__item {
      margin-bottom: 9px;
    }

    &__contact__icon {
      fill: #757575;
    }

    &__contact__list {
      display: block;
      gap: 10px;
    }

    &__contact__link {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #757575;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.24px;
      transition: color $animation;
    }

    &__contact__link:hover,
    &__contact__link:focus {
      color: $linkColor;
    }

    .current {
      color: $linkColor;
      padding-bottom: 32px;
    }

    .current:after {
      content: "";
      display: block;
      padding: auto;
      left: 0;
      bottom: 0;
    }

    &__nav__item {
      padding-top: 20px;
    }

    &__nav__link::after {
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      background-color: $linkColor;
      border-radius: 2px;
      margin-top: 20px;
      transform: scale(0);
      transform-origin: center right;
      transition: transform $animation, transform-origin $animation;
    }

    &__nav__link:hover::after {
      transform: scale(1);
      transform-origin: center right;
    }
  }

  .hover::after {
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background: $linkColor;
    margin-top: 28px;
  }
}
