.header {
    padding: 25px 0;
  }
  
  .header .container {
    display: flex;
    align-items: center;
  }
  
  .header__logo {
    color: $titleColor;
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    margin-right: 93px;
  }
  .header__logo--colored {
    color: $linkColor;
  }
  .header__nav {
    margin-right: 344px;
  }
  .header__nav__list {
    display: flex;
    gap: 30px;
  }
  .header__nav__item {
    padding-top: 20px;
  }
  .header__nav__link {
    color: $titleColor;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
  }
  
  .current {
    color: $linkColor;
    padding-bottom: 32px;
  }
  
  .current:after {
    content: "";
    display: block;
    padding: auto;
    left: 0;
    bottom: 0;
  }
  
  .header__nav__link:hover,
  .header__nav__link:focus {
    color: $linkColor;
  }
  
  .header__nav__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: $linkColor;
    border-radius: 2px;
    margin-top: 20px;
    transform: scale(0);
    transform-origin: center right;
    transition: transform $animation, transform-origin $animation;
  }
  
  .header__nav__link:hover::after {
    transform: scale(1);
    transform-origin: center right;
  }
  
  .header__contact__list {
    display: flex;
    gap: 50px;
  }
  
  .header__contact__link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: $textColor;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 2%;
    text-align: left;
  }
  
  .header__contact__link:hover,
  .header__contact__link:focus {
    color: $linkColor;
  }
  
  .header__contact__icon {
    fill: currentColor;
  }