.hero {
  display: flex;
  font-weight: 400px;
  height: 600px;
  align-items: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Img-people.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 44px;
    font-weight: 900;
    line-height: 136.364%;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  &__button {
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 187.5%;
    letter-spacing: 0.96px;
    padding: 10px 32px;
    border-radius: 4px;
    background: #2196f3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__button:hover {
    background: #002b4e;
  }
}

// @media screen and (max-width: 480px) {
//   .hero {
//     height: 400px;
//     width: 480px;

//     &__title {
//       font-size: 26px;
//       line-height: 42px;
//       letter-spacing: 1.56px;
//       width: 360px;
//     }
//   }
// }

// @media screen and (max-width: 768px) {
//   .hero {
//     height: 400px;

//     &__title {
//       font-size: 26px;
//       letter-spacing: 1.56px;
//     }
//   }
// }
