.team {
    background: #f5f4fa;
    padding-top: 94px;
    padding-bottom: 94px;

    &__subtitle {
      color: $titleColor;
      text-align: center;
      font-size: 36px;
      font-weight: 700;
      letter-spacing: 1.08px;
      margin-bottom: 50px;
    }
    
    &__list {
      display: flex;
      gap: 30px;
    }
    
    &__item {
      border-radius: 0px 0px 4px 4px;
      background-color: white;
      box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    &__name {
      color: $titleColor;
      font-size: 16px;s
      font-weight: 500;
      letter-spacing: 0.48px;
      text-align: center;
      margin-bottom: 10px;
      margin-top: 30px;
    }
    &__text {
      text-align: center;
      font-size: 16px;
      color: $textColor;
      margin-bottom: 30px;
      letter-spacing: 0.48px;
    }
    
    &__svg__list {
      display: flex;
      gap: 10px;
      margin-right: 44px;
      margin-left: 44px;
      margin-bottom: 42px;
    }
    
    &__svg__item {
    }
    
    &__svg__link {
      @extend %flex;
      width: 44px;
      height: 44px;
      fill: #afb1b8;
      border-radius: 50%;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &__svg {
      width: 20px;
      height: 20px;
      fill: #afb1b8;
    }
    
    &__svg__link:hover,
    &__svg__link:focus {
      background-color: #2196f3;
    }
    
    &__svg__link:hover &__svg,
    &__svg__link:focus &__svg {
      fill: white;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  
  
  