.container {
    width: 480px;
    margin: 0 auto;
    padding: 0 15px;
}

@media screen and (max-width: 480px) {
    .container{
      width: 480px;
    }
  }
  
  // @media screen and (min-width: 900px) {
  //   .container.adaptive {
  //     width: 900px;
  //   }
  // }
  
  // @media screen and (min-width: 1140px) {
  //   .container.adaptive {
  //     width: 1140px;
  //   }
  // }

.section {
    margin-bottom: 94px;
}